/**Override Boostrapt Style**/
.skeleton-card {
  overflow: hidden;

  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}

.skeleton-card-body {
  height: 102px;
}

.skeleton-card-header {
  border: unset;
  height: 44px;
}

/* Main Style */
.skeleton-game-section {
  position: relative;

  .mb-4 {
    margin-bottom: 30px !important;
    margin-top: 36px;
  }
}

/** Nav Bottom **/
.skeleton-new-round-button {
  background: linear-gradient(
    180deg,
    #14ff00 -28.31%,
    #1cbd0e 71.68%,
    #001101 169.63%
  );
  height: 52px;
  width: 52px;
  &:focus {
    box-shadow: 0 0 0 0.2rem #02eb2140;
  }
}

.skeleton-img-dummy {
  height: 30px;
  width: 30px;
}

.skeleton-san-text-white {
  height: 26px;
  width: 10vw;
}

.skeleton-home-button {
  height: 52px;
  width: 52px;
  background: linear-gradient(
    180deg,
    #ffa800 -28.31%,
    #c68200 71.68%,
    #976400 169.63%
  );
}

.skeleton-human-button-choose {
  height: 52px;
  width: 52px;
}

.skeleton-nav-text-content-button {
  height: 10px;
  width: 54px;
  background-color: red;
}

.skeleton-btn-nav {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 16px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my-class {
  background-color: #ffc106;
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem #b68c0d7a;
}

.skeleton-game-media-query {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  min-height: 100vh;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.score-board {
  margin-bottom: 40px;
  position: relative;
}

.skeleton-win-lose-draw-status {
  height: 76px;
  border-radius: 10px;
}

.skeleton-content-wld {
  margin-bottom: 0px;
  font-size: 24px;
  text-transform: uppercase;
  height: 35px;
}

.skeleton-game-play {
  margin-top: auto;
}

/**Nav Footer Style**/
.skeleton-bottom-nav {
  overflow: hidden;
  width: 500px;
  margin: auto;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    #3c3c3c -8.57%,
    #2e2e2e 46.28%,
    #1d1d1d 100%
  );
  // backdrop-filter: saturate(180%) blur(10px);
}

/*Responsive*/
@media only screen and (max-width: 768px) {
  .skeleton-game-media-query {
    max-width: none;
  }
}
